<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}</title>

    {{ partial "meta.html" . }}
    {{ partial "og.html" . }}

    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link rel="shortcut icon" href="/favicon.png">

    <link href="{{ .Site.BaseURL }}webfonts/ptserif/main.css" rel='stylesheet' type='text/css'>
    <link href="{{ .Site.BaseURL }}webfonts/source-code-pro/main.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

    <link href="http://gmpg.org/xfn/11" rel="profile">

    {{ .Hugo.Generator }}

    {{ if ($.Scratch.Get "photoswipeloaded") }}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="/js/load-photoswipe.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk="
        crossorigin="anonymous"></script>
    {{ end }}
</head>