<link rel="stylesheet" href="/css/minimal-gallery.css" />
{{ $baseURL := .Site.BaseURL }}
<div class="images-container">
    {{ with (.Get "dir") }}
        {{ $files := readDir (print "/static/" .) }}
        {{ $len := math.Round (div (len $files) 2) }}
        {{ range $index, $element := $files }}  
            {{ if (eq $index 2) }}
                </div><div class="images-container">
            {{ end }}
            {{- $isimg := lower $element.Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}<!-- is the current file an image? -->
            {{- if  $isimg  }}            
                {{- $linkURL := print $baseURL ($.Get "dir") "/" $element.Name | absURL }}
                <img src='{{ $linkURL }}'  class="one-image"/>
            {{- end }}
        {{ end }}
    {{ end }}
</div>